<div>
    <div class="voice-header-div left-pane">
        <div class="container">
            <div class="leftPanelHeading">
                Message Box
            </div>
            <div class="searchfield">
                <input id="tfn-search-box" placeholder="Search TFN " class="searchinput" name="tfn-search"
                    type="text" value=""/>
                <input id="clear-search" onclick="clearTfnSearchBox()" type="button" class="searchIco" />
                <input type="submit" value="clear" onclick="clearTfnSearchBox()" style="display: none;
                    position: relative; top: -25px; margin-left: 180px; float: left" />
            </div>
        </div>
    </div>
    <div class="voice-header-div right-pane">
        <div class="headingContainer">
            <h1>
                Complaint Box <span id="selected-tfn"></span>
            </h1>
        </div>
        <ul>
            <li><a id="unread" class="unread">Unread</a></li>
            <li><a class="delete"">Delete</a></li>
        </ul>
    </div>
</div>
<div style="clear: both;">
    <div id="leftContent" class="left-pane" style="min-height: 650px; height: auto;">
        <ul class="tfn-list">
            <% if !@areas.nil? %>
		<% @areas.each do |area| %>
		<li tfn-value="<%=area.areaname%>">
			<%= link_to area.areaname, {controller: "home", action: "index", area: area.areaname}, remote: true, method: :get, class: "thisclass" %>
		</li>
		<% end %>
            <% end %>
        </ul>
    </div>
    <div id="rightContent" class="right-pane">
        <div id="ajax-progress" style="display: none">
            <p>
                Loading...
            </p>
        </div>
        <div id="error-message">
             <p class="alert">
                Please select TFN to view voice mails
             </p>
        </div>
        <div id="showtable">
        </div>
    </div>
</div>
<script>
</script>



